<!-- <p>vehicleRequirementList </p> -->
<!-- <head>
    <meta charset="utf-8">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  </head> -->

<!-- <div class="card"> -->



<!-- <div class="row"> -->
<!-- <div class="card"> -->
<!-- <div class="card-body"> -->



<!-- <div class="row justify-content-center"> -->
<!-- <div class="col-3"> -->
<!-- <input class="form-control" type="text" name="search" [(ngModel)]="searchReportList" autocomplete="off"
                placeholder="&#61442;  Start searching " (ngModelChange)="p=1;"> -->
<!-- </div> -->
<!-- <div class="col-2">
                <a routerLink="loandisbursal" routerLinkActive="active" (click)="pdf()">
                    <i class="fa fa-file-pdf-o " aria-hidden="true" ></i>
                    </a>&nbsp;&nbsp;&nbsp;&nbsp;
                    <a routerLink="loandisbursal" routerLinkActive="active" (click)="excel()">
                        <i class="fa fa-file-excel-o" aria-hidden="true" ></i>
                </a>
                 </div> -->
<!-- </div> -->
<!-- <br> -->
<!-- <div class="table-responsive"> -->
<!-- <table class="table table-hover earning-box"> -->
<!-- <thead>
                    <tr>
                        <th>Sno</th>
                        <th align="center"> Auction Id</th>
                        <th align="center"> Order Number</th>
                        <th align="center">Vehicle Type</th>
                        <th align="center">Route</th>
                        <th align="center">Qty</th>
                        <th align="center">Req on </th>
                        <th align="center">Bid Start</th>
                        <th align="center">Bid End</th>
                        <th align="center">Amount </th>
                        <th align="center">Vendor Name</th>
                        <th align="center">Current Bid</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let o of bidList;let i=index">
                        <td>{{i+1}}</td>
                        <td align="center">{{o.auctionId}}</td>
                        <td align="center">{{o.orderNumber}}</td>
                        <td align="center">{{o.vehicleType}}</td>
                        <td align="center">{{o.route}}</td>
                        <td align="center">{{o.totalPackage}}</td>
                        <td align="center">{{o.orderDate}}</td>
                        <td align="center">{{o.bid_start_date}}</td>
                        <td align="center">{{o.bid_end_date}}</td>
                        <td align="center">{{o.bidAmount}}</td>
                        <td align="center">{{o.vendorName}}</td>
                    </tr>
                </tbody> -->
<!-- </table> -->
<!-- </div> -->
<!-- </div> -->
<!-- </div> -->
<!-- </div> -->



<!-- <div class="row">
    
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h2>Bid List</h2>
                    </div>
                    <div class="search-hero">
                        <input class="form-control" type="text" name="search" [(ngModel)]="searchProgramList"
                            autocomplete="off" placeholder="&#61442;  Search here ">
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    
                                    <th align="center"> Auction Id</th>
                                    <th align="center"> Order Number</th>
                                    <th align="center">Vehicle Type</th>
                                    <th align="center">Route</th>
                                    <th align="center">Qty</th>
                                    <th align="center">Req on </th>
                                    <th align="center">Bid Start</th>
                                    <th align="center">Bid End</th>
                                    <th align="center">Amount </th>
                                    <th align="center">Vendor Name</th>
                                    <th align="center">Current Bid</th>
                                </tr>
                            </thead>



                            <tbody>
                                <tr
                                    *ngFor="let o of bidList | filter:searchProgramList | paginate: { itemsPerPage: 5, currentPage: p } ">
                                    
                                    <td align="center">{{o.auctionId}}</td>
                                    <td align="center">{{o.orderNumber}}</td>
                                    <td align="center">{{o.vehicleType}}</td>
                                    <td align="center">{{o.route}}</td>
                                    <td align="center">{{o.totalPackage}}</td>
                                    <td align="center">{{o.orderDate}}</td>
                                    <td align="center">{{o.bid_start_date}}</td>
                                    <td align="center">{{o.bid_end_date}}</td>
                                    <td align="center">{{o.bidAmount}}</td>
                                    <td align="center">{{o.vendorName}}</td>
                                </tr>
                            </tbody>

                        </table>

                    </div>
                </div>
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
        </div>
    </div>
</div> -->

<div class="col-12">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Bid List</h4>
            <div class="search-hero">
                <!-- <input class="form-control" type="text" name="search" [(ngModel)]="searchProgramList" autocomplete="off"
                    placeholder="&#61442;  Search here "> -->
            </div>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead class="table-light">
                        <tr>
                            <th class="text-nowrap align_TH" align="center"> Auction Id</th>
                            <th class="text-nowrap align_TH" align="center"> Order Number</th>
                            <th class="text-nowrap align_TH" align="center">Vehicle Type</th>
                            <th class="text-nowrap align_TH" align="center">Route</th>
                            <th class="text-nowrap align_TH" align="center">Qty</th>
                            <th class="text-nowrap align_TH" align="center">Req on </th>
                            <th class="text-nowrap align_TH" align="center">Bid Start</th>
                            <th class="text-nowrap align_TH" align="center">Bid End</th>
                            <th class="text-nowrap align_TH" align="center">Amount </th>
                            <th class="text-nowrap align_TH" align="center">Vendor Name</th>
                            <th class="text-nowrap align_TH" align="center">Current Bid</th>
                            <th class="text-nowrap align_TH" align="center">Lowest Bid</th>
                            <th class="text-nowrap align_TH" align="center">Rank</th>
                            <!-- <th class="text-nowrap">Status</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        
                        <tr *ngFor="let o of bidList">
                            <!-- <td>{{i+1}}</td> -->
                            <td class="text-nowrap align_TD " align="center">{{o.auctionId}}</td>
                            <td class="text-nowrap align_TD " align="center">{{o.orderNumber}}</td>
                            <td class="text-nowrap align_TD " align="center">{{o.vehicleType}}</td>
                            <td class="text-nowrap align_TD " align="center">{{o.route}}</td>
                            <td class="text-nowrap align_TD " align="center">{{o.totalPackage}}</td>
                            <td class="text-nowrap align_TD " align="center">{{o.orderDate}}</td>
                            <td class="text-nowrap align_TD " align="center">{{o.bid_start_date}}</td>
                            <td class="text-nowrap align_TD " align="center">{{o.bid_end_date}}</td>
                            <td class="text-nowrap align_TD " align="center">{{o.bidAmount}}</td>
                            <td class="text-nowrap align_TD " align="center">{{o.vendorName}}</td>
                            <td class="text-nowrap align_TD " align="center">{{o.currentBid }}</td>
                            <td class="text-nowrap align_TD " align="center">{{o.lowestBid }}</td>
                            <td class="text-nowrap align_TD " align="center"><div *ngIf="o.rank!=='L 0';else elseblock">{{o.rank }}</div>
                                <ng-template #elseblock >-</ng-template></td>
                            <!-- <td align="center">
                                <button class="btn btn-primary" (click)="View(o)">
                                View</button></td> -->
                        </tr>
                        
                        
                        
                        
                    </tbody>
                </table>
            </div>
            <!-- <pagination-controls (pageChange)="p = $event"></pagination-controls> -->
        </div>
    </div>
</div>