<div class="col-12">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Bid List</h4>
            <div class="search-hero">
                <!-- <input class="form-control" type="text" name="search" [(ngModel)]="searchProgramList" autocomplete="off"
                    placeholder="&#61442;  Search here "> -->
            </div>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead class="table-light">
                        <tr>
                            <th class="text-nowrap align_TH" align="center"> Auction Id</th>
                            <!-- <th align="center"> Order Number</th> -->
                            <th class="text-nowrap align_TH" align="center">Vehicle Type</th>
                            <th class="text-nowrap align_TH" align="center">Route</th>
                            <!-- <th align="center">Qty</th> -->
                            <!-- <th class="text-nowrap" align="center">Req on </th> -->
                            <!-- <th class="text-nowrap" align="center">Bid Start</th> -->
                            <!-- <th class="text-nowrap" align="center">Bid End</th> -->
                            <th class="text-nowrap align_TH" align="center">Amount </th>
                            <!-- <th align="center">Vendor Name</th> -->
                            <th class="text-nowrap align_TH" align="center">Your Bid</th>
                            <!-- <th align="center">Lowest Bid</th> -->
                            <th class="text-nowrap align_TH" >Status</th>
                        </tr>
                    </thead>
                    <tbody>

                        
                        
                        <tr *ngFor="let o of bidList ">
                            <!-- <td>{{i+1}}</td> -->
                            <td class="text-nowrap align_TH" align="center">{{o.auctionId}}</td>
                            <!-- <td align="center">{{o.orderNumber}}</td> -->
                            <td class="text-nowrap align_TH" align="center">{{o.vehicleType}}</td>
                            <td class="text-nowrap ff" align="center">{{o.route}}</td>
                            <!-- <td align="center">{{o.totalPackage}}</td> -->
                            <!-- <td class="text-nowrap" align="center">{{o.orderDate}}</td> -->
                            <!-- <td class="text-nowrap" align="center">{{o.bid_start_date}}</td> -->
                            <!-- <td class="text-nowrap" align="center">{{o.bid_end_date}}</td> -->
                            <td class="text-nowrap align_TH" align="center">{{o.bidAmount}}</td>
                            <!-- <td align="center">{{o.vendorName}}</td> -->
                            <td class="text-nowrap align_TH" align="center">{{o.currentBid }}</td>
                            <!-- <td class="text-nowrap" align="center">{{o.lowestBid }}</td> -->
                            <td class="text-nowrap align_TH" align="center">
                                <button class="btn btn-primary" (click)="View(o)">
                                Create LHC</button></td>
                        </tr>                        
                    </tbody>
                </table>
            </div>
            <!-- <pagination-controls (pageChange)="p = $event"></pagination-controls> -->
        </div>
    </div>
</div>
