<div class="card">
    <div class="row">
        <div class="card-body" style="height:600px;">
            <br>
            <table class="table table-hover earning-box">
                <thead class="table-light">
                    <tr>
                        <th class="text-nowrap align_TH" align="center"> Order Number</th>
                        <th class="text-nowrap align_TH" align="center">Vehicle Type</th>
                        <th class="text-nowrap align_TH" align="center">Route</th>
                        <th class="text-nowrap align_TH" align="center">Qty</th>
                        <th class="text-nowrap align_TH" align="center">Req on </th>
                        <th class="text-nowrap align_TH" align="center">Bid Start</th>
                        <th class="text-nowrap align_TH" align="center">Bid End</th>
                        <th class="text-nowrap align_TH" align="center">Amount </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-nowrap ff" align="center">{{ orderNumber }}</td>
                        <td class="text-nowrap ff" align="center">{{ vehicleType }}</td >
                        <td class="text-nowrap ff" align="center">{{ route }}</td >
                        <td class="text-nowrap ff" align="center">{{ qty }}</td >
                        <td class="text-nowrap ff" align="center">{{ orderDate }}</td >
                        <td class="text-nowrap ff" align="center">{{ startDate }}</td >
                        <td class="text-nowrap ff" align="center">{{ endDate }}</td >
                        <td class="text-nowrap ff" align="center">{{ amount }}</td>
                    </tr>
                </tbody>
            </table>
            <br>
            <div _ngcontent-bif-c3="" class="row justify-content-center align-items-center">
                <div style="width: 300px;">
                    <ng-multiselect-dropdown [placeholder]="'Map vendor'" [settings]="dropdownSettings"
                        [data]="dropdownList" [(ngModel)]="selectedItems" (onSelect)="onItemSelect($event)"
                        (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)"
                        (onDeSelectAll)="onDeSelectAll($event)">
                    </ng-multiselect-dropdown>
                </div>
            </div>
            <br>
            <div _ngcontent-bif-c3="" class="row justify-content-center align-items-center">
                <button class="btn btn-primary" style="width:100px;" (click)="submit()">Submit</button>
            </div>
        </div>
        <!-- </div> -->
    </div>
</div>