<div class="col-12">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Bid List</h4>
            <div class="search-hero">
                <!-- <input class="form-control" type="text" name="search" [(ngModel)]="searchProgramList" autocomplete="off"
                    placeholder="&#61442;  Search here "> -->
            </div>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th align="center"> Auction Id</th>
                            <th align="center"> Order Number</th>
                            <th align="center">Vehicle Type</th>
                            <th align="center">Route</th>
                            <th align="center">Qty</th>
                            <th class="text-nowrap" align="center">Req on </th>
                            <th class="text-nowrap" align="center">Bid Start</th>
                            <th class="text-nowrap" align="center">Bid End</th>
                            <th align="center">Amount </th>
                            <th align="center">Vendor Name</th>
                            <th align="center">Current Bid</th>
                            <th align="center">Lowest Bid</th>
                            <th class="text-nowrap">Status</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let o of bidList">
                        
                        <tr *ngIf="o.dateDiff==1" class="table-success">
                            <!-- <td>{{i+1}}</td> -->
                            <td align="center">{{o.auctionId}}</td>
                            <td align="center">{{o.orderNumber}}</td>
                            <td align="center">{{o.vehicleType}}</td>
                            <td align="center">{{o.route}}</td>
                            <td align="center">{{o.totalPackage}}</td>
                            <td class="text-nowrap" align="center">{{o.orderDate}}</td>
                            <td class="text-nowrap" align="center">{{o.bid_start_date}}</td>
                            <td class="text-nowrap" align="center">{{o.bid_end_date}}</td>
                            <td align="center">{{o.bidAmount}}</td>
                            <td align="center">{{o.vendorName}}</td>
                            <td align="center">{{o.currentBid }}</td>
                            <td align="center">{{o.lowestBid }}</td>
                            <td >WON</td>
                            <td *ngIf="o.dateDiff==2">LOST</td>
                            
                            <!-- <td align="center">
                                <button class="btn btn-primary" (click)="View(o)">
                                View</button></td> -->
                        </tr>
                        <tr *ngIf="o.dateDiff==2" class="table-danger">
                            <!-- <td>{{i+1}}</td> -->
                            <td align="center">{{o.auctionId}}</td>
                            <td align="center">{{o.orderNumber}}</td>
                            <td align="center">{{o.vehicleType}}</td>
                            <td align="center">{{o.route}}</td>
                            <td align="center">{{o.totalPackage}}</td>
                            <td class="text-nowrap" align="center">{{o.orderDate}}</td>
                            <td class="text-nowrap" align="center">{{o.bid_start_date}}</td>
                            <td class="text-nowrap" align="center">{{o.bid_end_date}}</td>
                            <td align="center">{{o.bidAmount}}</td>
                            <td align="center">{{o.vendorName}}</td>
                            <td align="center">{{o.currentBid }}</td>
                            <td align="center">{{o.lowestBid }}</td>
                            <td >LOST</td>
                            
                            <!-- <td align="center">
                                <button class="btn btn-primary" (click)="View(o)">
                                View</button></td> -->
                        </tr>
                        
                        
                        
                        
                    </tbody>
                </table>
            </div>
            <!-- <pagination-controls (pageChange)="p = $event"></pagination-controls> -->
        </div>
    </div>
</div>