<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">View and Place Bids</h4>

                <div class="table-responsive">
                    <table class="table">

                        <!-- <tr>
                            <td > Order Number</td>
                            <td >{{ orderNumber }}</td>
                        </tr>
                        <tr>
                            <td >Vehicle Type</td>
                            <td >{{ vehicleType }}</td>
                        </tr>
                        <tr>
                            <td >Route</td>
                            <td >{{ route }}</td>
                        </tr>
                        <tr>
                            <td >Qty</td>
                            <td >{{ qty }}</td>
                        </tr>
                        <tr>
                            <td >Req on </td>
                            <td class="text-nowrap" >{{ orderDate }}</td>
                        </tr>
                        <tr>
                            <td >Bid Start</td>
                            <td class="text-nowrap" >{{ startDate }}</td>
                        </tr>
                        <tr>
                            <td >Bid End</td>
                            <td class="text-nowrap" >{{ endDate }}</td>
                        </tr>
                        <tr>
                            <td >Amount </td>
                            <td >{{ amount }}</td>
                        </tr>
                        <tr>
                            <td >Lowest Bid Amount</td>
                            <td class="text-nowrap"> {{lowestBidAmount }}</td>
                        </tr>
                        <tr>
                            <td  >Bidding Closes At</td>
                            <td class="text-nowrap">{{ endDate }}</td>
                        </tr>
                        <tr>
                            <td >Your Last Bid Ammount</td>
                            <td class="text-nowrap">{{ lastBidAmount }}</td>
                        </tr> -->


                        <thead>
                            <tr>
                                <th align="center"> Auction Id</th>
                                <th align="center"> order Id</th>
                                <th align="center"> Order Number</th>
                                <th align="center">Vehicle Type</th>
                                <th align="center">Route</th>
                                <th align="center">Qty</th>
                                <th align="center">Req on </th>
                                <th align="center">Bid Start</th>
                                <th align="center">Bid End</th>
                                <th align="center">Amount </th>
                                <th align="center">Vendor Name</th>
                                <!-- <th align="center">Vendor Id</th> -->

                            </tr>
                        </thead>
                        <tbody>
                            <td align="center">{{ auctionId }}</td>
                            <td align="center">{{ orderId }}</td>
                            <td align="center">{{ orderNumber }}</td>
                            <td align="center">{{ vehicleType }}</td>
                            <td align="center">{{ route }}</td>
                            <td align="center">{{ qty }}</td>
                            <td class="text-nowrap" align="center">{{ orderDate }}</td>
                            <td class="text-nowrap" align="center">{{ startDate }}</td>
                            <td class="text-nowrap" align="center">{{ endDate }}</td>
                            <td align="center">{{ amount }}</td>
                            <td align="center">{{ VendorName }}</td>
                            <!-- <td align="center">{{ VendorId }}</td> -->
                        </tbody>
                    </table>
                </div>




                <!-- <div class="table-responsive"> -->
                <div _ngcontent-bif-c3="" class="table-responsive">

                            <!-- <td align="left" class="text-nowrap">History</td> -->
                            <!-- <td align="left">:</td> -->

                        <!-- <br> -->
                        <!-- <tr>
                            <td class="text-nowrap" align="left">Bidding Closes At</td>
                            <td align="left">:</td>
                            <td align="left" class="text-dark">{{ endDate }}</td>
                        </tr>
                        <br> -->
                        <!-- <tr>
                            <td class="text-nowrap" align="left">Your Last Bid Ammount</td>
                            <td align="left">:</td>
                            <td align="left" class="text-dark">{{ lastBidAmount }}</td>
                        </tr> -->
                        
                    
                    <table class="table table-striped">
                        <thead>
                            <tr align="center">
                            <th >Your Bid History</th>
                            </tr>
                        </thead>
                        <tbody>
    
    
                          <tr  *ngFor="let o of lastBidAmount " >
                                <td align="center">{{o.bidAmount }}</td>
                          </tr>
                        </tbody>
                      </table>
                </div>

                <!-- </div> -->
                <br>
                <!-- <div _ngcontent-bif-c3="" class="row justify-content-center align-items-center">
                    <div class="settings">
                        <label>New Bid</label>
                        <input type="text" class="form-control" name="bidAmount" #myInput (keypress)="keyPress($event)"
                            #bidAmount />
                    </div>
                </div> -->
                <br>
                <!-- <div _ngcontent-bif-c3="" class="row justify-content-center align-items-center">
                    <button class="btn btn-success" *ngIf="this.isButtonVisible" (click)="submit(bidAmount.value)">submit</button>
                </div> -->
                <!-- <div style="height: 400px;"> -->
                <!-- <div class="settings">
                            Lowest Bid Amount : <p class="text-dark">{{ lowestBidAmount }}</p>
                        </div>
                        <br>
                        <div class="settings">
                            Bidding Closes At : <p class="text-dark">{{ endDate }}</p>
                        </div>
                        <br>

                        <div class="settings">
                            Your Last Bid Ammount : <p class="text-dark">{{ lastBidAmount }}</p>
                        </div> -->


                <!-- <br>
                        <br>
                        <div class="settings">
                            <label>New Bid</label>
                            <input type="text" class="form-control" name="bidAmount" #myInput
                                (keypress)="keyPress($event)" #bidAmount />
                        </div>
                        <br>
                        <br>
                        <div _ngcontent-bif-c3="" class="row justify-content-center align-items-center">
                            <button class="btn btn-success" (click)="submit(bidAmount.value)">submit</button>
                        </div> -->
                <!-- </div> -->











            </div>
        </div>
    </div>
</div>
