<!-- <p>vehicleRequirementList </p> -->
<!-- <head>
    <meta charset="utf-8">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  </head> -->

<div class="card">
  <div class="row">
    <!-- <div class="card"> -->
    <div class="card-body">
      <!-- <div class="row justify-content-center"> -->
      <!-- <div class="col-3"> -->
      <!-- <input class="form-control" type="text" name="search" [(ngModel)]="searchReportList" autocomplete="off"
                placeholder="&#61442;  Start searching " (ngModelChange)="p=1;"> -->
      <!-- </div> -->
      <!-- <div class="col-2">
                <a routerLink="loandisbursal" routerLinkActive="active" (click)="pdf()">
                    <i class="fa fa-file-pdf-o " aria-hidden="true" ></i>
                    </a>&nbsp;&nbsp;&nbsp;&nbsp;
                    <a routerLink="loandisbursal" routerLinkActive="active" (click)="excel()">
                        <i class="fa fa-file-excel-o" aria-hidden="true" ></i>
                </a>
                 </div> -->
      <!-- </div> -->
      <br />
      <div class="table-responsive">
        <table class="table table-hover earning-box mb-0">
          <thead class="table-light">
            <tr>
              <th>Sno</th>
              <th class="text-nowrap dd" align="center">Auction Id</th>

              <th class="text-nowrap align_TH" align="center">Order Number</th>
              <th class="text-nowrap align_TH" align="center">Vehicle Type</th>
              <th class="text-nowrap align_TH" align="center">Route</th>
              <th class="text-nowrap align_TH" align="center">Qty</th>
              <th class="text-nowrap align_TH" align="center">Req on</th>
              <th class="text-nowrap align_TH" align="center">Bid Start</th>
              <th class="text-nowrap align_TH" align="center">Bid End</th>
              <th class="text-nowrap align_TH" align="center">Amount</th>
              <th class="text-nowrap align_TH" align="center">
                Vendor Mapping
              </th>
              <th class="text-nowrap align_TH" align="center">Bid status</th>
              <th class="text-nowrap align_TH" align="center">View Bid</th>
              <th class="text-nowrap align_TH" align="center">Action</th>
            </tr>
          </thead>

          <tbody *ngFor="let o of auctionList; let i = index">
            <tr>
                
              <td>{{ i + 1 }}</td>
              <td class="text-nowrap" align="center">{{ o.auctionId }}</td>
              <td class="text-nowrap ff" align="center">{{ o.orderNumber }}</td>
              <td class="text-nowrap ff" align="center">{{ o.vehicleType }}</td>
              <td class="text-nowrap " >{{ o.route }}</td>
              <td class="text-nowrap ff" align="center">
                {{ o.totalPackage }}
              </td>
              <td class="text-nowrap ff" align="center">{{ o.orderDate }}</td>
              <td class="text-nowrap ff" align="center">
                {{ o.bid_start_date }}
              </td>
              <td class="text-nowrap ff" align="center">
                {{ o.bid_end_date }}
              </td>
              <td class="text-nowrap ff" align="center" >{{ o.bidAmount | number:'1.0':'en-IN' }}</td>

              <td *ngIf="o.vendorMappingStatus === 0">
                <div class="aligdiv" style="text-align: center;"><button class="btn btn-success "(click)="map(o)">Map</button></div>
              </td>

              <td *ngIf="o.vendorMappingStatus === 1">
                <div class="label label-danger align_TH" align="center">Mapped</div>
                <!-- <button class="btn btn-danger">Mapped</button> -->
              </td>

              <td *ngIf="o.bidStatus === 0">
                <div class="label label-warning" align="center">Open</div>
              </td>
              <td *ngIf="o.bidStatus === 1" class="text-nowrap">
                <div class="label label-danger"> Not-Selected</div>
              </td>
              <td *ngIf="o.bidStatus === 2">
                <div class="label label-success">Selected</div>
              </td>
              <td *ngIf="o.bidStatus === 3">
                <div class="label label-danger">Cancelled</div>
              </td>

              <td *ngIf="o.bidStatus === 1">
                <button
                  [disabled]="o.bidStatus === 0 || o.bidStatus === 3"
                  class="btn btn-primary"
                  (click)="ViewBidList(o)"
                >
                  View
                </button>
              </td>
              <td *ngIf="o.bidStatus === 2">
                <button
                  [disabled]="o.bidStatus === 0 || o.bidStatus === 3"
                  class="btn btn-primary"
                  (click)="ViewWonBidList(o)"
                >
                  View
                </button>
              </td>
              <td *ngIf="o.bidStatus === 0">
                <button
                  [disabled]="o.bidStatus === 0 || o.bidStatus === 3"
                  class="btn btn-primary"
                  (click)="ViewWonBidList(o)"
                >
                  View
                </button>
              </td>
              <td *ngIf="o.bidStatus === 3">
                <button
                  [disabled]="o.bidStatus === 0 || o.bidStatus === 3"
                  class="btn btn-primary"
                  (click)="ViewWonBidList(o)"
                >
                  View
                </button>
              </td>

              <td *ngIf="o.auctionStatus === 1">
                <button
                  [disabled]="o.bidStatus === 2 || o.bidStatus === 3"
                  class="btn btn-danger"
                  (click)="end(o)"
                >
                  End
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
