<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Auction List</h4>
        <div class="search-hero">
          <!-- <input class="form-control" type="text" name="search" [(ngModel)]="searchProgramList"
                        autocomplete="off" placeholder="&#61442;  Search here "> -->
        </div>
        <div class="table-responsive">
          <table class="table table-striped">
            <tbody>
              <tr>
                <td height="25">Route Name:</td>
                <td class="text-nowrap" height="25">{{ route }}</td>
                <td height="25" class="text-nowrap">Vehicle Requried Date :</td>
                <td height="25">{{ orderDate }}</td>
                <td height="25" class="text-nowrap">OrderNumber :</td>
                <td height="25" class="text-nowrap">{{ orderNumber }}</td>
              </tr>
              <br />
              <tr>
                <td height="25" class="text-nowrap">Bid Starts at :</td>
                <td height="25" class="text-nowrap">{{ bid_start_date }}</td>
                <td height="25" class="text-nowrap">Bid End Date :</td>

                <td height="25" class="text-nowrap">
                  <input
                    type="date"
                    class="form-control input_Date"
                    [(ngModel)]="date"
                  />
                </td>
                <td height="25" class="text-nowrap">Bid End time :</td>

                <td class="text-nowrap">
                  <input
                    type="time"
                    class="form-control"
                    [(ngModel)]="bid_end_time"
                  />
                </td>
              </tr>
              <br />
              <tr>
                <td colspan="6" align="center">
                  <button
                    type="button"
                    class="btn btn-warning"
                    (click)="update()"
                  >
                    Update Bid End Time
                  </button>
                </td>
              </tr>
              <tr>
                <td colspan="3" align="center">
                  <button
                    type="button"
                    class="btn btn-danger"
                    (click)="showDialog()"
                  >
                    Cancel Bid
                  </button>
                </td>
                <td colspan="3" align="center">
                  <button
                    type="button"
                    [disabled]="!endBidButton"
                    class="btn btn-success"
                    (click)="endBid()"
                  >
                    Create LHC
                  </button>
                </td>
              </tr>
            </tbody>
          </table>

          <table class="table table-striped">
            <thead>
              <tr>
                <th align="center">Vendor Name</th>
                <th align="center">Bid Amount</th>
                <th align="center">Advance Amount</th>
                <th align="center">Remarks</th>
                <th>Select</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let o of auctionList; let i = index">
                <td align="center" class="align_TD">{{ o.vendorName }}</td>
                <td align="center">{{ o.lowestBid }}</td>
                <td>
                  <input
                    type="text"
                    class="form-control input_field"
                    [(ngModel)]="o.advanceAmount"
                    id="AdvanceAmount_{{ i }}"
                    name="AdvanceAmount"
                  />
                </td>
                <td>
                  <textarea
                    type="text"
                    class="form-control"
                    [(ngModel)]="o.remarks"
                    id="remarks_{{ i }}"
                    name="remarks_{{ i }}"
                  ></textarea>
                </td>
                <td align="center">
                  <!-- <input type="checkbox"  name = "check" id="checkbox_{{i}}"  [(ngModel)]="o.checks" (change)="checkBoxValidation(o,advanceAmount.value,i)"> -->
                  <input
                    type="checkbox"
                    name="check"
                    id="checkbox_{{ i }}"
                    [(ngModel)]="o.checks"
                    (change)="validateCheckBox(i, o)"
                  />
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- <pagination-controls (pageChange)="p = $event"></pagination-controls> -->
      </div>
    </div>
  </div>
</div>
