<div class="container-fluid">

    <app-page-title title="Crypto" [breadcrumbItems]="breadCrumbItems"></app-page-title>

    <div class="row">
        <div class="col-xl-4">
            <div class="card">
                <div class="card-body">
                    <div class="float-end dropdown ms-2" ngbDropdown>
                        <a class="text-muted dropdown-toggle" href="javascript: void(0);" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
                            <i class="mdi mdi-dots-horizontal font-size-18"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
                            <a class="dropdown-item" href="javascript: void(0);">Action</a>
                            <a class="dropdown-item" href="javascript: void(0);">Another action</a>
                            <a class="dropdown-item" href="javascript: void(0);">Something else here </a>
                        </div>
                    </div>
                    <div>
                        <div class="mb-4 me-3">
                            <i class="mdi mdi-account-circle text-primary h1"></i>
                        </div>
                        <div>
                            <h5>Henry Wells</h5>
                            <p class="text-muted mb-1">henrywells@abc.com</p>
                            <p class="text-muted mb-0">Id no: #SK0234</p>
                        </div>
                    </div>
                </div>

                <div class="card-body border-top">
                    <div class="row">
                        <div class="col-sm-6">
                            <div>
                                <p class="fw-medium mb-2">Balance :</p>
                                <h4>$ 6134.39</h4>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="mt-4 mt-sm-0">
                                <p class="fw-medium mb-2">Coin :</p>
                                <div class="d-inline-flex align-items-center mt-1">

                                    <a href="javascript: void(0);" class="m-1" data-placement="top"
                                        ngbTooltip="Bitcoin">
                                        <div class="avatar-xs">
                                            <span
                                                class="avatar-title rounded-circle bg-soft bg-warning text-warning font-size-18">
                                                <i class="mdi mdi-bitcoin"></i>
                                            </span>
                                        </div>
                                    </a>
                                    <a href="javascript: void(0);" class="m-1" data-placement="top"
                                        ngbTooltip="Ethereum">
                                        <div class="avatar-xs">
                                            <span
                                                class="avatar-title rounded-circle bg-soft bg-primary text-primary font-size-18">
                                                <i class="mdi mdi-ethereum"></i>
                                            </span>
                                        </div>
                                    </a>
                                    <a href="javascript: void(0);" class="m-1" data-placement="top"
                                        ngbTooltip="Litecoin">
                                        <div class="avatar-xs">
                                            <span
                                                class="avatar-title rounded-circle bg-soft bg-info text-info font-size-18">
                                                <i class="mdi mdi-litecoin"></i>
                                            </span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-footer bg-transparent border-top">
                    <div class="text-center">
                        <a href="javascript: void(0);" class="btn btn-outline-light me-2 w-md">Deposit</a>
                        <a href="javascript: void(0);" class="btn btn-primary me-2 w-md">Buy / Sell</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-8">
            <div class="card">
                <div>
                    <div class="row">
                        <div class="col-lg-9 col-sm-8">
                            <div class="p-4">
                                <h5 class="text-primary">Welcome Back !</h5>
                                <p>Skote Crypto Dashboard</p>

                                <div class="text-muted">
                                    <p class="mb-1"><i class="mdi mdi-circle-medium align-middle text-primary me-1"></i>
                                        If several languages coalesce</p>
                                    <p class="mb-1"><i class="mdi mdi-circle-medium align-middle text-primary me-1"></i>
                                        Sed ut perspiciatis unde</p>
                                    <p class="mb-0"><i class="mdi mdi-circle-medium align-middle text-primary me-1"></i>
                                        It would be necessary</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-4 align-self-center">
                            <div>
                                <img src="assets/images/crypto/features-img/img-1.png" alt="" class="img-fluid d-block">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-body">
                            <p class="text-muted mb-4"><i
                                    class="mdi mdi-bitcoin h2 text-warning align-middle mb-0 me-3"></i> Bitcoin </p>

                            <div class="row">
                                <div class="col-6">
                                    <div>
                                        <h5>$ 9134.39</h5>
                                        <p class="text-muted text-truncate mb-0">+ 0.0012 ( 0.2 % ) <i
                                                class="mdi mdi-arrow-up ms-1 text-success"></i></p>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div>
                                        <apx-chart class="apex-charts" dir="ltr" [series]="bitconinChart.series"
                                            [chart]="bitconinChart.chart" [stroke]="bitconinChart.stroke"
                                            [colors]="bitconinChart.colors" [fill]="bitconinChart.fill"
                                            [tooltip]="bitconinChart.tooltip"></apx-chart>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-body">
                            <p class="text-muted mb-4"><i
                                    class="mdi mdi-ethereum h2 text-primary align-middle mb-0 me-3"></i> Ethereum </p>

                            <div class="row">
                                <div class="col-6">
                                    <div>
                                        <h5>$ 245.44</h5>
                                        <p class="text-muted text-truncate mb-0">- 4.102 ( 0.1 % ) <i
                                                class="mdi mdi-arrow-down ms-1 text-danger"></i></p>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div>
                                        <apx-chart class="apex-charts" dir="ltr" [series]="ethereumChart.series"
                                            [chart]="ethereumChart.chart" [stroke]="ethereumChart.stroke"
                                            [colors]="ethereumChart.colors" [fill]="ethereumChart.fill"
                                            [tooltip]="ethereumChart.tooltip"></apx-chart>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-body">
                            <p class="text-muted mb-4"><i
                                    class="mdi mdi-litecoin h2 text-info align-middle mb-0 me-3"></i> litecoin </p>

                            <div class="row">
                                <div class="col-6">
                                    <div>
                                        <h5>$ 63.61</h5>
                                        <p class="text-muted text-truncate mb-0">+ 1.792 ( 0.1 % ) <i
                                                class="mdi mdi-arrow-up ms-1 text-success"></i></p>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div>
                                        <apx-chart class="apex-charts" dir="ltr" [series]="litecoinChart.series"
                                            [chart]="litecoinChart.chart" [stroke]="litecoinChart.stroke"
                                            [colors]="litecoinChart.colors" [fill]="litecoinChart.fill"
                                            [tooltip]="litecoinChart.tooltip"></apx-chart>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- end row -->

    <div class="row">
        <div class="col-xl-8">
            <div class="card">
                <div class="card-body">
                    <div class="float-end">
                        <select class="form-select form-select-sm ms-2" (change)="getBalanceData($event)">
                            <option value="march" selected>March</option>
                            <option value="february">February</option>
                            <option value="january">January</option>
                            <option value="december">December</option>
                        </select>
                    </div>
                    <h4 class="card-title mb-3">Wallet Balance</h4>

                    <div class="row" *ngFor="let data of walletBalanceData">
                        <div class="col-lg-4">
                            <div class="mt-4">
                                <p>{{ data.text }}</p>
                                <h4>{{ data.amount }}</h4>

                                <p class="text-muted mb-4"> {{ data.subamount }} <i
                                        class="mdi mdi-arrow-up ms-1 text-success"></i></p>

                                <div class="row">
                                    <div class="col-6">
                                        <div>
                                            <p class="mb-2">Income</p>
                                            <h5>{{ data.income }}</h5>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div>
                                            <p class="mb-2">Expense</p>
                                            <h5>{{ data.expense }}</h5>
                                        </div>
                                    </div>
                                </div>

                                <div class="mt-4">
                                    <a href="javascript: void(0);" class="btn btn-primary btn-sm">View more <i
                                            class="mdi mdi-arrow-right ms-1"></i></a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-sm-6">
                            <div>
                                <apx-chart class="apex-charts" dir="ltr" [series]="data.chartSeries"
                                    [chart]="walletRadialChart.chart" [colors]="walletRadialChart.colors"
                                    [stroke]="walletRadialChart.stroke" [plotOptions]="walletRadialChart.plotOptions"
                                    [legend]="walletRadialChart.legend">
                                </apx-chart>
                            </div>
                        </div>

                        <div class="col-lg-4 col-sm-6 align-self-center">
                            <div *ngFor="let item of data.balancelist" class="mt-4 pt-2">
                                <p class="mb-2"><i
                                        class="mdi mdi-circle align-middle font-size-10 me-2 text-primary"></i> {{ item.text }}
                                </p>
                                <h5>{{ item.coin }} = <span class="text-muted font-size-14">{{ item.amount }}</span></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-3">Overview</h4>

                    <div>
                        <div id="overview-chart" class="apex-charts" dir="ltr">
                            <div class="toolbar button-items text-center">
                                <button type="button" class="btn btn-light btn-sm" id="one_month" 
                                (click)="updateOptions( '1m' )"
                                [class.active]="activeOptionButton=='1m'">
                                    1M
                                </button>
                                <button (click)="updateOptions( '6m' )" type="button"
                                [class.active]="activeOptionButton=='6m'"
                                 class="btn btn-light btn-sm" id="six_months">
                                    6M
                                </button>
                                <button type="button"
                                (click)="updateOptions( '1y' )"
                                [class.active]="activeOptionButton=='1y'"
                                class="btn btn-light btn-sm active" id="one_year">
                                    1Y
                                </button>
                                <button type="button" class="btn btn-light btn-sm" 
                                (click)="updateOptions( 'all' )"
                                [class.active]="activeOptionButton=='all'"
                                id="all">
                                    ALL
                                </button>
                            </div>
                            <div id="overview-chart-timeline"></div>
                            <apx-chart class="apex-charts" #chart dir="ltr" [series]="overviewChart.series"
                                [chart]="overviewChart.chart" [dataLabels]="overviewChart.dataLabels"
                                [stroke]="overviewChart.stroke" [markers]="overviewChart.markers"
                                [xaxis]="overviewChart.xaxis" [tooltip]="overviewChart.tooltip"
                                [colors]="overviewChart.colors" [fill]="overviewChart.fill">
                            </apx-chart>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-4">Transactions</h4>
                    <ul ngbNav #nav="ngbNav" [activeId]="1" class="nav-pills bg-light rounded">
                        <li [ngbNavItem]="1">
                            <a ngbNavLink>All</a>
                            <ng-template ngbNavContent>
                                <ngx-simplebar style="height: 330px;">
                                    <table class="table table-centered table-nowrap">
                                        <tbody>
                                            <tr *ngFor="let data of transactionsData">
                                                <td style="width: 50px;">
                                                    <div :class="font-size-22 text-{{data.color}}">
                                                        <i :class="bx {{data.icon}}"></i>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div>
                                                        <h5 class="font-size-14 mb-1">{{data.name}}</h5>
                                                        <p class="text-muted mb-0">{{data.date}}</p>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="text-end">
                                                        <h5 class="font-size-14 mb-0">{{data.text}}</h5>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="text-end">
                                                        <h5 class="font-size-14 text-muted mb-0">{{data.price}}</h5>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </ngx-simplebar>
                            </ng-template>
                        </li>
                        <li [ngbNavItem]="2">
                            <a ngbNavLink>Buy</a>
                            <ng-template ngbNavContent>
                                <ngx-simplebar style="height: 330px;">
                                    <table class="table table-centered table-nowrap">
                                        <tbody>
                                            <tr *ngFor="let data of transactionsData">
                                                <td style="width: 50px;">
                                                    <div :class="font-size-22 text-{{data.color}}">
                                                        <i :class="bx {{data.icon}}"></i>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div>
                                                        <h5 class="font-size-14 mb-1">{{data.name}}</h5>
                                                        <p class="text-muted mb-0">{{data.date}}</p>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="text-end">
                                                        <h5 class="font-size-14 mb-0">{{data.text}}</h5>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="text-end">
                                                        <h5 class="font-size-14 text-muted mb-0">{{data.price}}</h5>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </ngx-simplebar>
                            </ng-template>
                        </li>
                        <li [ngbNavItem]="3">
                            <a ngbNavLink>Sell</a>
                            <ng-template ngbNavContent>
                                <ngx-simplebar style="height: 330px;">
                                    <table class="table table-centered table-nowrap">
                                        <tbody>
                                            <tr *ngFor="let data of transactionsData">
                                                <td style="width: 50px;">
                                                    <div :class="font-size-22 text-{{data.color}}">
                                                        <i :class="bx {{data.icon}}"></i>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div>
                                                        <h5 class="font-size-14 mb-1">{{data.name}}</h5>
                                                        <p class="text-muted mb-0">{{data.date}}</p>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="text-end">
                                                        <h5 class="font-size-14 mb-0">{{data.text}}</h5>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="text-end">
                                                        <h5 class="font-size-14 text-muted mb-0">{{data.price}}</h5>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </ngx-simplebar>
                            </ng-template>
                        </li>
                    </ul>

                    <div [ngbNavOutlet]="nav" class="mt-4"></div>
                </div>
            </div>
        </div>


        <div class="col-xl-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-4">Notifications</h4>

                    <ul class="list-group">
                        <ngx-simplebar style="height: 390px;">
                            <li class="list-group-item">
                                <div class="media">
                                    <div class="avatar-xs me-3">
                                        <span class="avatar-title rounded-circle bg-light">
                                            <img src="assets/images/companies/img-1.png" alt="" height="18">
                                        </span>
                                    </div>
                                    <div class="media-body">
                                        <h5 class="font-size-14">Donec vitae sapien ut</h5>
                                        <p class="text-muted">If several languages coalesce, the grammar of the
                                            resulting
                                            language</p>

                                        <div class="float-end">
                                            <p class="text-muted mb-0"><i class="mdi mdi-account me-1"></i> Joseph</p>
                                        </div>
                                        <p class="text-muted mb-0">12 Mar, 2020</p>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="media">
                                    <div class="avatar-xs mr-3">
                                        <span class="avatar-title rounded-circle bg-light">
                                            <img src="assets/images/companies/img-2.png" alt="" height="18">
                                        </span>
                                    </div>
                                    <div class="media-body">
                                        <h5 class="font-size-14">Cras ultricies mi eu turpis</h5>
                                        <p class="text-muted">To an English person, it will seem like simplified
                                            English, as
                                            a skeptical cambridge</p>

                                        <div class="float-end">
                                            <p class="text-muted mb-0"><i class="mdi mdi-account me-1"></i> Jerry</p>
                                        </div>
                                        <p class="text-muted mb-0">13 Mar, 2020</p>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="media">
                                    <div class="avatar-xs mr-3">
                                        <span class="avatar-title rounded-circle bg-light">
                                            <img src="assets/images/companies/img-3.png" alt="" height="18">
                                        </span>
                                    </div>
                                    <div class="media-body">
                                        <h5 class="font-size-14">Duis arcu tortor suscipit</h5>
                                        <p class="text-muted">It va esser tam simplic quam occidental in fact, it va
                                            esser
                                            occidental.</p>

                                        <div class="float-end">
                                            <p class="text-muted mb-0"><i class="mdi mdi-account me-1"></i> Calvin</p>
                                        </div>
                                        <p class="text-muted mb-0">14 Mar, 2020</p>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="media">
                                    <div class="avatar-xs mr-3">
                                        <span class="avatar-title rounded-circle bg-light">
                                            <img src="assets/images/companies/img-1.png" alt="" height="18">
                                        </span>
                                    </div>
                                    <div class="media-body">
                                        <h5 class="font-size-14">Donec vitae sapien ut</h5>
                                        <p class="text-muted">If several languages coalesce, the grammar of the
                                            resulting
                                            language</p>

                                        <div class="float-end">
                                            <p class="text-muted mb-0"><i class="mdi mdi-account me-1"></i> Joseph</p>
                                        </div>
                                        <p class="text-muted mb-0">12 Mar, 2020</p>
                                    </div>
                                </div>
                            </li>
                        </ngx-simplebar>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-xl-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-4">Buy / Sell</h4>
                    <ul ngbNav #nav1="ngbNav" [activeId]="1" class="nav-pills bg-light rounded">
                        <li [ngbNavItem]="1">
                            <a ngbNavLink>Buy</a>
                            <ng-template ngbNavContent>
                                <div class="float-end ms-2">
                                    <h5 class="font-size-14"><i
                                            class="bx bx-wallet text-primary font-size-16 align-middle me-1"></i>
                                        $4235.23</h5>
                                </div>
                                <h5 class="font-size-14 mb-4">Buy Coin</h5>

                                <div>

                                    <div class="mb-3">
                                        <label>Payment method :</label>
                                        <select class="form-select">
                                            <option>Credit / Debit Card</option>
                                            <option>Paypal</option>
                                        </select>
                                    </div>

                                    <div>
                                        <label>Add Amount :</label>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <label class="input-group-text">Amount</label>
                                            </div>
                                            <select class="form-select" style="max-width: 90px;">
                                                <option value="BT" selected>BTC</option>
                                                <option value="ET">ETH</option>
                                                <option value="LT">LTC</option>
                                            </select>
                                            <input type="text" class="form-control">
                                        </div>

                                        <div class="input-group mb-3">
                                            <label class="input-group-text">Price</label>
                                            <input type="text" class="form-control">
                                            <label class="input-group-text">$</label>
                                        </div>

                                        <div class="input-group mb-3">
                                            <label class="input-group-text">Total</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>

                                    <div class="text-center">
                                        <button type="button" class="btn btn-success w-md">Buy Coin</button>
                                    </div>
                                </div>
                            </ng-template>
                        </li>
                        <li [ngbNavItem]="2">
                            <a ngbNavLink>Sell</a>
                            <ng-template ngbNavContent>
                                <div class="float-end ms-2">
                                    <h5 class="font-size-14"><i
                                            class="bx bx-wallet text-primary font-size-16 align-middle me-1"></i>
                                        $4235.23</h5>
                                </div>
                                <h5 class="font-size-14 mb-4">Sell Coin</h5>

                                <div>
                                    <div class="mb-3">
                                        <label>Email :</label>
                                        <input type="email" class="form-control">
                                    </div>
                                    <div>
                                        <label>Add Amount :</label>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <label class="input-group-text">Amount</label>
                                            </div>
                                            <select class="form-select" style="max-width: 90px;">
                                                <option value="BT" selected>BTC</option>
                                                <option value="ET">ETH</option>
                                                <option value="LT">LTC</option>
                                            </select>
                                            <input type="text" class="form-control">
                                        </div>

                                        <div class="input-group mb-3">
                                                        
                                            <label class="input-group-text">Price</label>
                                              
                                            <input type="text" class="form-control">
                                            
                                            <label class="input-group-text">$</label>
                                        </div>

                                        <div class="input-group mb-3">
                                            <label class="input-group-text">Total</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>

                                    <div class="text-center">
                                        <button type="button" class="btn btn-danger w-md">Sell Coin</button>
                                    </div>
                                </div>
                            </ng-template>
                        </li>
                    </ul>

                    <div [ngbNavOutlet]="nav1" class="mt-4"></div>
                </div>
            </div>
        </div>
    </div>
</div>