/* .container {
    padding-top: 50px;
    padding-bottom: 10px;
    color: #405065;
  } */
  
  
  #brandcolor th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #438494;
    color: white;
  }
  td 
{
    height: 50px; 
    width: 120px;
}

#cssTable td 
{
    text-align: center; 
    vertical-align: middle;
}
  .search-hero {
    max-width: 500px;
    padding-bottom: 50px;
    margin:auto;
  }
  
  .form-control {
    box-shadow: 0 10px 40px 0 #B0C1D9;
  }
  .form-control::placeholder  {
    font-family: FontAwesome;
  }


  
  