.lg-body  {
    border: 1px solid;
	float:center;
	position:relative;
	background:url(/assets/images/small/img6.jpg) no-repeat  ; 
}

.error-msg{
    font-size: 20px;
    color: #fd0000;
    font-weight: 600;
}

.login-form-input {
	position:relative;
}

