/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

/* You can add global styles to this file, and also import other style files */
.modal-holder {
  animation-name: example;
  animation-duration: 0.3s;
}

@keyframes example {
  0% {
    transform: scale(0.5)
  }

  100% {
    transform: scale(1)
  }
}

.carousel-item {
  transition: opacity 0.7s ease !important;
  position: absolute !important;
  display: block !important;
  opacity: 0;
}
.spinner-border{
  position:absolute;
  bottom: -300px;
  z-index: 99;
  left:50%;

}

.carousel-item.active {
  position: relative !important;
  opacity: 1;
}

.diplayer{
  text-align: center;
  // position: absolute;
  // left: 44%;
}
.diplayer2{
  text-align: center;
  // position: absolute;
  // left: 44%;
}
.align_TH{
  text-align: center;
}
.align_TD{
  text-align: left;
}
.jj{
  float: right;
}
.input_field{
  max-width: 130px;
  text-align: right;
}

.input_Date{
  max-width: 160px;

}


html, body { height: 100%; }
body { margin: 0; font-family: "Poppins"}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
