<!-- <p>vehicleRequirementList </p> -->
<div class="col-12" >
    <div class="card">
            <!-- <div class="card"> -->
            <div class="card-body" >

                  
                <!-- <div *ngIf=" loaderservice.isloader|async "> -->
                    <!-- <p>cgcghgg</p> -->
                <!-- <div class="spinner-border text-primary "  style="left:40%;width: 50px; height: 50px;" role="status"> -->
                    <!-- <span class="sr-only"style="border:7px">Loading...</span> -->
                <!-- </div> -->
            <!-- </div> -->
                <!-- <div class="search-hero">
                    <input class="form-control" type="text" name="search" [(ngModel)]="searchProgramList"
                        autocomplete="off" placeholder="&#61442;  Search here ">
                </div> -->


                <!-- <div class="row justify-content-center"> -->
                <!-- <div class="col-3"> -->
                <!-- <input class="form-control" type="text" name="search" [(ngModel)]="searchReportList" autocomplete="off"
                placeholder="&#61442;  Start searching " (ngModelChange)="p=1;"> -->
                <!-- </div> -->
                <!-- <div class="col-2">
                <a routerLink="loandisbursal" routerLinkActive="active" (click)="pdf()">
                    <i class="fa fa-file-pdf-o " aria-hidden="true" ></i>
                    </a>&nbsp;&nbsp;&nbsp;&nbsp;
                    <a routerLink="loandisbursal" routerLinkActive="active" (click)="excel()">
                        <i class="fa fa-file-excel-o" aria-hidden="true" ></i>
                </a>
                 </div> -->
                <!-- </div> -->
                <!-- <br>
                <a style="cursor: pointer">
                    <button>excel</button>
                  </a> -->
                <!-- <div class="table-responsive"> -->
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead class="table-light">
                            <tr>
                                <th>Sno</th>
                                <th class="text-nowrap align_TH" align="center"> Order Number</th>
                                <th class="text-nowrap align_TH" align="center">Vehicle Type</th>
                                <th class="text-nowrap align_TH" align="center">Route</th>
                                <!-- <th class="text-nowrap align_TH" align="center">Qty</th> -->
                                <th class="text-nowrap align_TH" align="center">Req on </th>
                                <th class="text-nowrap align_TH" align="center">Bid Start Date</th>
                                <th class="text-nowrap align_TH" align="center">Bid Start Time</th>
                                <th class="text-nowrap align_TH" align="center">Bid End Date</th>
                                <th class="text-nowrap align_TH" align="center">Bid End Time</th>
                                <th class="text-nowrap align_TH" align="center">Amount </th>
                                <th class="text-nowrap align_TH" align="center">Action</th>
                                <!-- <th align="center">Vendor Mapping</th>
                        <th align="center">Action</th> -->
                            </tr>
                        </thead>

                        <tbody>

                            <tr *ngFor="let o of orderList;let i=index">
                                <td>{{i+1}}</td>
                                <td class="text-nowrap" align="center">{{o.orderNumber}}</td>
                                <td class="text-nowrap" align="center">{{o.vehicleType}}</td>
                                <td class="text-nowrap" align="center">{{o.route}}</td>
                                <!-- <td class="text-nowrap" align="center">{{o.totalPackage}}</td> -->
                                <td class="text-nowrap" align="center">{{o.orderDate}}</td>
                                <td class="text-nowrap"><input type="date"  name="bidstart_{{i}}"
                                        [(ngModel)]="o.bid_start_date"></td>
                                        <!-- [(ngModel)]="o.bid_start_date"></td> -->
                                <td class="text-nowrap">
                                    <ngb-timepicker name="bidStartTime_{{i}}" 
                                    
                                    [(ngModel)]="o.bid_start_time">
                                    </ngb-timepicker>
                                </td>
                                <td class="text-nowrap"><input type="date"  name="bidEnd_{{i}}"
                                        [(ngModel)]="o.bid_end_date">
                                </td>

                                <td class="text-nowrap">
                                    <ngb-timepicker name="bidEndTime_{{i}}" 
                                    
                                    [(ngModel)]="o.bid_end_time">
                                    </ngb-timepicker>
                                </td>

                                <td class="text-nowrap"><input class="input_field"type="text" name="amount"
                                        [(ngModel)]="o.bidAmount" (keypress)="keyPress($event)"> </td>
                                <td *ngIf="o.auctionStatus===0">
                                    <button class="btn btn-success" (click)="start(o)">Start</button>
                                </td>

                                <!-- <td *ngIf="o.auctionStatus===1">
                                    <button class="btn btn-danger" (click)="end()">End</button>
                                </td> -->

                                <!-- <td *ngIf="o.mappingStatus===0">
                            <button [disabled]="o.auctionStatus===0" class="btn btn-primary" (click)="map(o)">
                                Map</button>
                        </td> -->

                                <!-- <td *ngIf="o.mappingStatus===1">
                            <button class="btn btn-danger">Mapped</button>
                        </td> -->

                                <!-- <td><button [disabled]="o.mappingStatus===0" class="btn btn-primary" (click)="View(o)">
                                View</button></td> -->

                            </tr>


                        </tbody>

                    </table>
                    
                </div>
                <!-- <pagination-controls (pageChange)="p = $event"></pagination-controls> -->
            </div>
            <!-- </div> -->
        
    </div>
</div>
















